{{- $github_email := "" -}}
{{- if (hasKey . "github_email") -}}
{{-   $github_email = .github_email -}}
{{- else -}}
{{-   $github_email = promptString "GitHub email" -}}
{{- end -}}
[data]
    github_email = {{ $github_email | quote }}
