[user]
	name = Caden Kriese
	email = {{ .github_email }}
	signingkey = 7C3F726DB485CE8D4FD47C3E9600D75CE6B7B1E1
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
